
<li class='text-center'>
  <div class="small-12 user_block">
    <%= link_to image_tag(super_user.image_url), super_user_profile_path(super_user) %>
  </div>
  <div class="small-12">
    <a href="mailto:<%= super_user.email %>">
      <%= super_user.username %>
    </a>
  </div>
</li>
