<!-- Top Section -->
<div class="row">
  <div class="large-6 small-12 columns">
    <h2>Un gruppo di appassionati smanettoni</h2>
    <p>
    L'iniziativa µhack nasce dalla necessità di un luogo, in cui gli entusiasti di cultura libera, elettronica, informatica e di tutto ciò che coinvolga le tecnologie possano trovarsi per scambiare idee, conoscenze e strumentazione.<br> 
    Per questo motivo ci stiamo impegnando al massimo per proporci come punto di riferimento e di incontro al quale chiunque possa iscriversi senza essere esperti in qualcosa, basta il giusto atteggiamento.
    </p>
    <p><b>Vogliamo che µhack sia un posto per tutte quelle persone accomunate dalla passione e dalla voglia di capire come funzionino le cose.</b></p>
  </div>
  <div class="large-6 small-12 columns">
    <br>
    <img src="http://placehold.it/800x500&text=Foto"/> 
  </div>    
</div>

<div class="row">
  <div class="small-12 columns">
    <hr/>
    <p>Dallo <a href="">statuto</a>, µhack è una organizzazione senza fini di lucro con lo scopo di favorire la diffusione, lo sviluppo, la sperimentazione e lo studio delle tecnologie libere, promuovendo una cultura improntata sulla collaborazione, sulla ricerca, sul merito e su un'aperta condivisione di risorse e conoscenze.</p>
    <p>In parole povere siamo smanettoni che non si preoccupano troppo di sporcarsi le mani per soddisfare la propria curiosità. Vogliamo incontrare nuove persone, lavorare insieme, imparare e per farlo abbiamo intenzione di proporre corsi, conferenze, workshop, esperienze di laboratorio, progetti di gruppo e qualsiasi altro tipo di iniziativa che ci venga in mente.</p>    
    <p>L'associazione è finanziata principalmente dai soci sotto forma di quota associativa e dalle varie idee per la raccolta fondi.</p>
    <h5>Ti sembra interessante? Allora <a href="">partecipa</a> al progetto!</h5>
  </div>
</div>

<!-- Members -->  
<div class="row">
  <div class="small-12 columns">
    <hr/>
    <section class="section">
      <div class="content" data-slug="panel2">
        <ul class="small-block-grid-5">
          <li><a href="mailto:m.pescimoro@studenti.unibs.it"><img src="http://placehold.it/150x150&text=Pescimoro Mattia"></a>Pescimoro Mattia</li>
        </ul>
      </div>
    </section>
  </div>
</div>
