<!-- Top Section -->
<div class="row">
  <div class="large-6 small-12 columns">
    <h2>Un gruppo di appassionati smanettoni</h2>
    <p>
    L'iniziativa µhack nasce dalla necessità di un luogo, in cui gli appassionati della cultura libera, di elettronica, di informatica e di tutto ciò che coinvolga le tecnologie possano trovarsi per scambiare idee, conoscenze e strumentazione.<br> 
    Per questo motivo ci stiamo impegnando al massimo per proporci come punto di riferimento e di incontro al quale chiunque possa iscriversi senza alcun tipo di requisito o competenza.
    </p>
    <br>
    <p><b>Vogliamo che µhack sia un posto per tutti coloro che sono accomunati dalla passione e dalla voglia di capire come funzionino le cose.</b></p>
  </div>
  <div class="large-6 small-12 columns">
    <br>
    <img src="http://placehold.it/800x500&text=Foto"/> 
  </div>    
</div>

<!-- Members -->  
<div class="row">
  <div class="small-12 columns">
    <hr/>
    <section class="section">
      <div class="content" data-slug="panel2">
        <ul class="small-block-grid-4">
          <h5>Pescimoro Mattia</h5>
          <li><a href="mailto:m.pescimoro@studenti.unibs.it"><img src="http://placehold.it/100x100&text=Pescimoro Mattia"></a></li>
        </ul>
      </div>
    </section>
  </div>
</div>
