<!-- Top Section -->
<div class="row">
  <div class="large-6 small-12 columns">
    <h2>Un gruppo di appassionati smanettoni</h2>
    <p>
    L'iniziativa µhack nasce dalla necessità di un luogo, in cui gli appassionati della cultura Open Source, di elettronica, di informatica e di tutto ciò che coinvolga le tecnologie libere possano trovarsi per scambiare idee, conoscenze e strumentazione.<br> 
    Partendo come gruppo di studenti di Ingegneria dell'Università degli Studi di Brescia stiamo cercando di proporci come riferimento al quale chiunque possa iscriversi senza alcun tipo di requisito o competenza.</p>
  </div>
  <div class="large-6 small-12 columns">
    <br>
    <img src="http://placehold.it/800x500&text=Foto"/> 
  </div>    
</div>

<!-- Main Section -->
<div class="row">
  <div class="small-12 columns">
    <hr/>
    <p>Ground round pastrami pork loin tenderloin jerky. Jerky spare ribs biltong, ham hock ham capicola pork. Jerky turducken pork, meatloaf sausage capicola swine corned beef turkey short loin. Tongue prosciutto pork loin, ground round spare ribs venison kielbasa strip steak.</p>
    <p>Hamburger bresaola turkey t-bone, leberkas salami pork chop ham hock beef ribs. Rump biltong meatball venison, short ribs pork loin shank shankle corned beef beef. Cow salami jowl short loin hamburger fatback. Short ribs pork belly shoulder pastrami drumstick salami corned beef ham hock bresaola. Swine filet mignon cow sausage ball tip. Cow ribeye ground round, sausage pork loin pig beef ball tip turkey boudin.</p> 
    <p>Prosciutto ball tip filet mignon andouille frankfurter chicken rump sausage meatball. Filet mignon meatloaf ground round andouille ham hock pork. Bresaola short loin meatball chuck hamburger pig. Turkey venison chuck, tongue fatback tail swine jerky corned beef shank kielbasa prosciutto ribeye ham tri-tip. Rump bacon pork belly meatloaf shoulder short loin meatball kielbasa pork loin tongue bresaola brisket corned beef jowl prosciutto. Beef ribs shankle short ribs pork belly corned beef fatback pork chop tongue biltong boudin strip steak sirloin meatloaf pancetta.</p>
  </div> 
</div> 

<!-- Members -->  
<div class="row">
  <div class="small-12 columns">
    <hr/>
    <section class="section">
      <h5 class="title"><a href="#panel2">Associato</a></h5>
      <div class="content" data-slug="panel2">
        <ul class="large-block-grid-5">
          <li><a href="mailto:m.pescimoro@studenti.unibs.it"><img src="http://placehold.it/150x150&text=Pescimoro Mattia">Mattia Pescimoro</a></li>
        </ul>
      </div>
    </section>
  </div>
</div>
