<div class="row">
<!-- Slide -->

  <!-- Large -->    
  <div class="small-12 columns hide-for-small slideshow-wrapper">
    <div data-orbit>
      <img src="http://placehold.it/1600x600/FDC43D/FFFFFF&text=Immagine 1" alt="slide image"/>
      <img src="http://placehold.it/1600x600&text=Immagine 2" alt="slide image"/>
    </div>
    <hr/>
  </div>

  <!-- Small -->
  <div class="small-12 columns show-for-small"> 
    <img src="http://placehold.it/800x600&text=Small Header"/>
    <hr/>
  </div>
</div>
<!-- End Slide-->  

<div class="row">
<!-- Content -->
  <!-- Blocks -->
  <div class="large-4 columns">
    <img src="http://placehold.it/400x200/2576F0/FFFFFF&text=Content Block">
    <h4>Impara</h4>
    <p>Promuoviamo l'apprendimento tra pari e la condivisione della conoscenza, in forma di workshop, presentazioni e conferenze. Se hai bisogno di aiuto o hai semplicemente voglia di fare quattro chiacchiere, basta chiedere!</p>
  </div>
  <div class="large-4 columns">
    <img src="http://placehold.it/400x200/D5442F/FFFFFF&text=Content Block"/>
    <h4>Collabora</h4>
    <p>Impegnandoci per far si che le idee, il sapere e l'esperienza siano liberi ed accessibili, abbiamo tutti la possibilità di migliorare, correggere e sviluppare nuovi sistemi.</P>
  </div>
  <div class="large-4 columns">
    <img src="http://placehold.it/400x200/03A05C/FFFFFF&text=Content Block"/>
    <h4>Crea</h4>
    <p>Se vuoi realizzare qualche tua idea o provare a realizzare qualcosa questo è il posto giusto. Vogliamo rendere accessibile la strumentazione necessaria per poter realizzare ogni tipo di idee e progetti.<p>
  </div>     
</div>

<div class="row">
<!-- Description -->
  <div class="large-8 columns">
    <hr/>
    <h2>Hands on!</h2>
    <h3 class="subheader">«Hacking vuol dire esplorare i limiti del possibile»</h3>
    <p>Con <a href="index.html">µ</a> vogliamo creare un laboratorio che permetta a chiunque di esprimere le proprie passioni, rendendo possibile a persone più o meno esperte, di incontrarsi, imparare e creare. Un luogo in cui quello che conta è la voglia di capire come siano fatte le cose, guardandoci dentro, mettendoci le mani.</p>
  </div>
  <div class="large-4 columns">
    <div class="panel">
      <img src="http://placehold.it/700x500&text=News Here!"/>
    </div>    
  </div>
</div>
<!- End Content -->
