    <!-- Slide -->
    <div class="row">

      <!-- Large -->
      <div class="hide-for-small slideshow-wrapper">
        <div data-orbit>
	  <img src="http://placehold.it/1600x600&text=Slideshow Image 1"/>
	  <img src="http://placehold.it/1600x600&text=Slideshow Image 2"/>
        </div>
      </div>
  
      <!-- Small -->
      <div class="small-12 show-for-small">
         <img src="http://placehold.it/800x600&text=Small Header"/>
      </div>

    </div>
    <!-- End Slide-->  

    <!-- Content -->
    <div class="large-12 columns">

      <!-- Blocks -->
      <div class="row">
        <hr>
        <div class="large-4 small-12 columns">
          <img src="http://placehold.it/400x200&text=Content Block"/>
          <h4>Impara.</h4>
          <p>Se hai bisogno di un aiuto o hai semplicemente voglia di fare quattro chiacchiere, basta chiedere! EPPOI EPPOI BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA EPPOI EPPOI BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA</p>
        </div>
        <div class="large-4 small-12 columns">
          <img src="http://placehold.it/400x200&text=Content Block"/>
          <h4>Collabora.</h4>
          <p>Condividere le idee è un modo per dare la possibilità ad altri di comprenderle e migliorarle. EPPOI EPPOI BLA BLA BLA BLA BLA BLA BLA BLA BLA EPPOI EPPOI BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA</p>
        </div>
        <div class="large-4 small-12 columns">
          <img src="http://placehold.it/400x200&text=Content Block"/>
          <h4>Crea.</h4>
          <p>Se vuoi realizzare qualche tua idea o provare a realizzare qualcosa questo è il posto giusto. EPPOI EPPOI BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA EPPOI EPPOI BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA</p>
        </div>     
      </div>

      <!-- Description -->
      <div class="row">
        <hr>
        <div class="large-8 small-12 columns">
          <h2>Hands on!</h2>
	      <h4 class="subheader">«Hacking means exploring the limits of what is possible, in a spirit of playful clevernsess»</h4>
          <p>Con <a href="index.html">µ</a> vogliamo creare un laboratorio che permetta a chiunque di esprimere le proprie passioni, rendendo possibile ad appassionati ficcanaso più o meno esperti, di incontrarsi, imparare e creare. Un luogo in cui quello che conta è la voglia di capire come siano fatte le cose, guardandoci dentro, mettendoci le mani.</p>
        </div>
        <div class="large-4 columns"> 
          <img src="http://placehold.it/600x500&text=Image"/>
        </div>
      </div>
   
    </div>
    <!-- End Content -->  
