
  <!-- Slide -->
<br>
<div class="row">

  <!-- Large -->
  <div class="hide-for-small slideshow-wrapper">
    <div data-orbit>
      <img src="http://placehold.it/1400x500&text=Slide Image" alt="slide image"/>
      <img src="http://placehold.it/1400x500&text=Slide Image" alt="slide image"/>
    </div>
  </div>

  <!-- Small -->
  <div class="small-12 show-for-small">
    <img src="http://placehold.it/1400x500&text=For Small Screens"/>
  </div>
<!-- End Slide-->
</div>


<!-- Content -->
<div class="small-12 columns">

  <!-- Blocks -->
  <div class="row">
    <hr>
    <div class="large-4 small-12 columns">
      <img src="http://placehold.it/400x200&text=Content Block"/>
      <h4>Learn.</h4>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
    <div class="large-4 small-12 columns">
      <img src="http://placehold.it/400x200&text=Content Block"/>
      <h4>Create.</h4>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
    <div class="large-4 small-12 columns">
      <img src="http://placehold.it/400x200&text=Content Block"/>
      <h4>Share.</h4>
      <p>Condividere i progetti è un modo per dare la possibilità ad altri di comprenderne come siano stati costruiti e come migliorarli. Se hai bisogno di particolari strumenti per realizzzare le tue idee, noi possiamo aiutarti.</p>
    </div>     
  </div>

  <!-- Description -->
  <div class="row">
    <hr>
    <div class="large-8 small-12 columns">
      <h2>Hands on!</h2>
      <h4 class="subheader">"Hacking means exploring the limit of what is possible, in a spirit of playful cleverness."</h4>
      <p>Smontare, analizzare e creare. Con µhack vogliamo creare uno spazio che permetta a chiunque di esprimere la propria passione, rendendo accessibile a tutti un laboratorio che sia anche un luogo di incontri tra persone più o meno esperte, ma sicuramente tutte appassionate; un luogo in cui quello che conta è la voglia di capire come siano fatte le cose, guardandoci dentro, “mettendoci le mani”.</p>
    </div>
    <div class="large-4 columns"> 
      <img src="http://placehold.it/400x400&text=Image"/>
    </div>
  </div>

</div>
<!-- End Content -->  