<div class="row">
  
  <!-- Contacts -->
  <div class="large-9 columns">
    
    <h2>Supporta µhack diventando un associato!</h2>
    <h3 class="subheader">Sarebbe fantastico averti come socio di µhack. Accettiamo volentieri tutte quelle persone che amano imparare e scoprire in un ambiente che promuove lo scambio di conoscenze e l'accesso alla strumentazione necessaria per la creazione di folli idee.</h3>

    <h4>Iscrizione annuale</h4>
    <p>Siamo una associazione senza fini di lucro finanziata dalla comunità. Questo vuol dire che le quote associative e le donazioni sono fondamentali per permetterci di tenere le porte aperte a tutti. Abbiamo indicativamente definito alcuni livelli di associazione per permettere a tutti di avere accesso all'iniziativa.
    <h4>Livelli</h4>
    <p> 
    Studente – per studenti e disoccupati – €15 / anno<br>
    Standard – €30 / anno<br>
    </p>
    
    <h4>Come associarsi<h4>
    <p>Per diventare socio di µhack basta fare un salto nella nostra sede per compilare l’iscrizione che ti permetterà di accedere liberamente ai nostri spazi, usare i macchinari e frequentare i workshop.</p>
    
    <h4>Ok sono un socio, e ora?</h4>
    <p>Se non hai ancora avuto modo di conoscere nessuno, unisciti alla <a href="">mailing list</a> e presentati. Se è la prima visita alla sede, basta inviare una mail. Non dimenticare di dare un'occhiata anche alle nostre linee di condotta!</p>
 
    <h4>..A dire il vero vorrei dare un'occhiata prima di iscrivermi</h4>
    <p>Nessun problema! Dai un'occhiata al prossimo evento o eventualmente contattaci e vedremo di organizzare un incontro per farti fare un giro.</p>
    
    <h3>Mettiti in contatto!</h3>
    <p>
    Potete contattarci scrivendo a <a href="">m.pescimoro@studenti.unibs.it</a>.<br>
    Se volete discutere di qualcosa o rimanere aggiornati iscrivetevi alla <a href="">Mailing List</a> oppure su <a href="">Facebook</a>.
    </p>
  </div> 
  <!-- End Contacts -->

  <!-- Sidebar -->
  <div class="large-3 columns">
    <h5>Dove puoi trovarci</h5>
    <p>
      <a href="" data-reveal-id="mapModal"><img src="http://placehold.it/400x280"></a><br />
      <a href="" data-reveal-id="mapModal">Vedi Mappa</a>
    </p>
    <p>
      123 via che non c'è<br/>
      Brescia, ITALY 25080
    </p>
  </div>
  <!-- End Sidebar -->
</div>

