<div class="row">
  
  <!-- Contacts -->
  <div class="large-9 columns">
    
    <h3>Supporta µhack diventando un associato!<br>
    <small>We would love to have you as a member of µhack. We gladly accept new members including amateurs, professionals, makers, hackers, software developers, electronics engineers, and mechanical engineers. We strive to have a diverse group of individuals who enjoy learning about science and technology in an environment which promotes social interaction and the creation of awesome projects and have access to useful tools.</small></h5>

    <h4>Iscrizione annuale</h4>
    <p>We are a non-profit funded organization funded by the community — which means your contributions are important in order for us to keep our doors open.  We have setup several levels of membership with the understanding that some of our members may be starving students and others may be recently unemployed. We ask that you select the highest level which you can comfortably afford on a monthly basis.
    <h4>Levels</h4>

    <p> 
    Student Member – Limited Access for Students and Unemployed – $27 /mo<br>
    Standard Member – 24/7 Access – $77 / mo<br>
    </p>
    
    <p>
    Payments<br>
    We prefer PayPal subscriptions. You can set up a subscription below. Paypal payments makes our accounting process simpler, we do understand some people have issues with PayPal — if you need to use something different, please contact a charter member.  Thank you for your support!<br>
    Some people prefer to just pay in advance, we don’t mind that!  Just drop us a line if you wish to pay in advance.
    Ok I’m paid up, what now ?<br>
    Well hopefully you’ve met some of the regular members at this time.  If you haven’t, please join our mailing list and introduce yourself.  If you are planning on visiting the facility for the first time, please make sure you ask for a charter member to show you around.  You are also required to review our policies and we have a few forms for you to fill out — don’t worry it will only take a few minutes.
    </p>
 
    <h4>…Actually I would like to hang out first before I sign up</h4>
    <p>
    Sure!  Check our event schedule or our meetup page for the next open hack night.  If you can’t make any of those nights, please contact us and we’ll see if we can make some arrangements to show you around.
    </p>
    <h3>Mettiti in contatto!</h3>
    <p>
    We'd love to hear from you. You can either reach out to us as a whole and one of our awesome team members will get back to you, or if you have a specific question reach out to one of our staff. We love getting email all day <em>all day</em>.<br>
    Potete contattarci scrivendo a <a href="">m.pescimoro@studenti.unibs.it</a><br>
    Per rimanere aggiornati iscrivetevi alla <a href="">Mailing List</a> e su <a href="">Facebook</a>.<br>
    </p>
  </div> 
  <!-- End Contacts -->

  <!-- Sidebar -->
  <div class="large-3 columns">
    <h5>Dove puoi trovarci</h5>
    <p>
      <a href="" data-reveal-id="mapModal"><img src="http://placehold.it/400x280"></a><br />
      <a href="" data-reveal-id="mapModal">Vedi Mappa</a>
    </p>
    <p>
      123 via che non c'è<br/>
      Brescia, ITALY 25080
    </p>
  </div>
  <!-- End Sidebar -->
</div>

