<div class='row <%= cycle('comment_even', 'comment_odd') %>'>
	<div class='small-12 columns'>
		<b><%= comment.commenter.username %></b> dice:<br>
		<%= link_uris simple_format(comment.body) %>
		<!% if comment.currents? %>
			<!%= link_to 'Elimina', post_comment_path(@post, comment), method: :destroy %>
		<!% end %>
	</div>
</div>