<%= form_for([commentable, commentable.comments.build], remote: true) do |f| %>

  <div class="small-9 columns">
    <%= f.text_area :body, label: false %>
  </div>
  <div class="small-3 columns">
    <%= f.submit 'Commenta' %>
  </div>
<% end %>
