
<div class='row'>
  <div class='small-8 columns'>
    <h1>Blog</h1>
  </div>
  <div class='small-4 columns'>
    <%= link_to 'Nuovo post', new_post_path, class: 'medium radius success button' %>
  </div>
</div>

<div class='row'>
  <div class='small-8 columns'>
    <%= render @posts %>
  </div>

  <div class='small-4 columns'>
    <h2>Sidebar</h2>
    <%= render '/tags/tags_list' %>
  </div>
</div>

<hr>
