
<div class='row'>
	<div class='small-10 small-offset-1 columns'>
		<br>
		<%= render @post %>
		<!%= link_to 'Torna al blog', posts_path %>

		<%= render partial: 'comment', collection: @comments %>
		<% if commenter_signed_in? %>
			<%= render 'comment_form' %>
		<% else %>
			<! TODO form per commentare come guest >
		<% end %>
	</div>
</div>
