
<div class='row'>
	<div class='small-10 small-offset-1 columns'>
		<br>
		<%= render @post %>
		<!%= link_to 'Torna al blog', posts_path %>

		<%= render partial: 'comment', collection: @comments %>
		<fieldset>
			<legend>Aggiungi un commento!</legend>
			<% if commenter_signed_in? %>
				<%= render 'comment_form' %>
			<% else %>
    	  <%= render 'guest_comment_form' %>
			<% end %>
		</fieldset>
	</div>
</div>
