
<div class='row'>
	<div class='small-10 small-offset-1 columns'>
		<br>
		<%= render @post %>
    
    <% @comments.each do |comment| %>
      <%= render partial: "comment", locals: { comment: comment } %>
    <% end %>

		<fieldset>
			<legend>Aggiungi un commento!</legend>
			<% if commenter_signed_in? %>
				<%= render 'comment_form', commentable: @post %>
			<% else %>
    	  <%= render 'guest_comment_form', commentable: @post %>
			<% end %>
		</fieldset>
	</div>
</div>
