// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "main";

$odd_color: transparent;
$even_color: transparent;

@mixin comment() {
	padding-top: 0.2rem;
  border-left: 1px solid lightgrey;
// border-top: 1px solid lightgrey;

	.comment_image {
		padding-left: 0.2em !important;
		padding-right: 0.2em !important;
    padding-bottom: 0.2em !important;
	}
}

.comment_even {
	@include comment();
	background-color: $even_color;
}

.comment_odd {
	@include comment();
	background-color: $odd_color;
}

