// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "main";

@mixin comment() {
	padding-top: 1rem;
}

.comment_even {
	@include comment();
	background-color: transparentize($main-light, 0.9);
}

.comment_odd {
	@include comment();
	background-color: transparentize($main-dark, 0.9);
}