// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "foundation/components/labels";
@import "foundation/components/panels";
@import "foundation/components/buttons";

//$post-main-1: #333333;
//$post-main-2: #158DB8;
//$tag-color: #F5F57E;
//$text-color: #FFF;


$post-main-1: #ABE9F0;
$post-main-2: #CECECE;
$tag-color: #F5F57E;
$text-color: #000;
$label-font-color: #000;

@mixin tag($bg-color) {
	@include label(
		$bg: $bg-color,
		$radius:1000px
	);

	margin-bottom: 5px;
	margin-right: 3px;
}

.tag {
	@include tag($tag-color);
}

.selected_tag {
	@include tag($tag-color);

	-moz-box-shadow: 3px 3px 2px #000;
	-webkit-box-shadow: 3px 3px 2px #000;
	box-shadow: 3px 3px 2px #000;
}

@mixin post_panel($bg-color, $button-color) {
	@include panel(
	$bg: $bg-color
	);

	@include radius(
	$radius: 2em
	);

	color: $text-color;
	h2 a {
		color: $text-color;
	}

	hr {
		border-top: dotted 4px;
	}

	.bttn {
		@include button($bg: $button-color,
		$padding: 0.5rem,
		$radius: 3px
		);
	}
}


.post_panel_odd {
	@include post_panel(
		$bg-color: $post-main-1,
		$button-color: $post-main-2
	);
}

.post_panel_even {
	@include post_panel(
		$bg-color: $post-main-2,
		$button-color: $post-main-1
	);
}