// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "foundation/components/labels";
@import "foundation/components/panels";
@import "foundation/components/buttons";

//$post-main-1: #333333;
//$post-main-2: #158DB8;
//$tag-color: #F5F57E;
//$text-color: #FFF;


$post-main-1: #EFEFEF;
$tag-color: #28CF24;
$selected-tag-color: #000;
$text-color: #000;

@mixin tag($bg-color) {
  &:hover {
  	color: #fff;
  }

	@include label-style(
		$bg: $bg-color,
		$radius:1000px
	);
	@include label-base();
	@include label-size();

	margin-bottom: 5px;
	margin-right: 3px;
}

.tag {
	@include tag($tag-color);
}

.selected_tag {
	@include tag($selected-tag-color);
}

@mixin post_panel($bg-color) {
	//@include panel(
	//	$bg: $bg-color
	//);
	padding-bottom: 2rem;
	
	h2 a  {
		color: $text-color;
	}

	.bttn {
		@include button(
			$padding: 0.5rem,
			$radius: 3px
		);
	}

	.body {
		color: $text-color;
		text-align: justify;
	}

	.top {
		color: lighten($text-color, 40%)
	}
}


.post_panel_odd {
	@include post_panel(
		$bg-color: $post-main-1
	);
}

.post_panel_even {
	@include post_panel(
		$bg-color: $post-main-1
	);
}