// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "main";
@import "tags";
@import "comments";

$title-color: $main-light;
$text-color: $main-dark;



.post_panel {
	padding-bottom: 2rem;
	
	.title  {
		a {
			color: $title-color;
			&:hover {
				color: darken($title-color, 10%);
			}
		}
	}
	.info {
		color: lighten($text-color, 40%);
		font-size: 80%;
		font-style: italic;
	}
	.body {
		color: $text-color;
		text-align: justify;
		font-size: 100%;
	}
	.tagged {
		font-weight: bold;
		padding-bottom: 1em;
	}
	.actions {
		font-style: italic;
		font-weight: bold;
	}

}
