// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "main";
@import "foundation/components/labels";

$tag-color: $main-light;
$tag-bg-color: transparent;
$selected-tag-bg-color: $main-dark;

@mixin tag($bg-color, $hover-color: $main-dark) {
  &:hover {
  	color: $hover-color;
  }

  background-color: $bg-color;

	//@include label-style(
	//	$bg: $bg-color,
	//	$radius:1000px
	//);
	//@include label-base();
	//@include label-size();


	margin-bottom: 5px;
	margin-right: 10px;
}

.tag {
	@include tag($tag-bg-color);
}

.selected_tag {
	@include tag($selected-tag-bg-color, #fff);
}

