// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "main";
@import "foundation/components/labels";

$tag-color: $main-dark;
$selected-tag-color: $main-light;

@mixin tag($bg-color) {
  &:hover {
  	color: #fff;
  }

	@include label-style(
		$bg: $bg-color,
		$radius:1000px
	);
	@include label-base();
	@include label-size();

	margin-bottom: 5px;
	margin-right: 3px;
}

.tag {
	@include tag($tag-color);
}

.selected_tag {
	@include tag($selected-tag-color);
}

