// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "main";
@import "foundation/components/labels";

@mixin tag($hover-color: $tag-hover-color) {
  color: $tag-color;
  &:hover {
    color: $hover-color;
  }

	margin-bottom: 5px;
	margin-right: 10px;
}

.tag {
	@include tag();
}

.selected_tag {
	@include tag(#fff);
}

