
<div class="contain-to-grid">
 
  <!-- Top Bar -->
  <nav class="top-bar" data-topbar data-options="is_hover: false">
   <ul class="title-area">
    <li class="name"></li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul> 

    <section class="top-bar-section">
      <ul class="left">
        <%= render "layouts/menu_items" %>
      </ul>
      <ul class="right">X
        <%= render "layouts/menu_search" %>
        <%= render "layouts/login_logout_links" %>
      </ul>
    </section>


  </nav>
 <!-- End Top Bar -->

</div>
